.header-container {
  width: 100%;
  background: #000000;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100vh;
  min-height: 720px;
  max-height: 1120px;

  padding-top: 4em;
  padding-bottom: 2.365rem;
  margin-bottom: 13.8em;

  color: #ffffff;
}

.header-block-bg {
  background-image: url(../.../img/header/lines-header2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

header {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-burger {
  width: 2.5%;
  max-width: 48px;
  position: absolute;
  left: 0;
}

.header-logo {
  width: 12%;
  max-width: 208px;
}

.header-action {
  font-weight: 500;
  font-size: 2.4rem;
  position: absolute;
  right: 0;
}

.header-main-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  gap: 2em;
}

.header-main-divider {
  height: 5em;
  width: 0px;
  border: 0.5px solid #ffffff;
}

.header-main-left {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}
.header-main-right {
  display: flex;
  flex-direction: column;
  gap: 1.1em;
  align-items: center;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header-main > h1 {
  width: 100%;
  font-family: "Benzin700";
  font-size: 7rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.3rem;
}

.header-main > h2 {
  width: 100%;
  font-family: "Benzin400";
  font-size: 5rem;
  line-height: 170%;
  text-align: center;
  text-transform: uppercase;
}

.header-main > a {
  font-weight: 500;
  font-size: 2.4rem;
  position: absolute;
  bottom: -5em;
  color: white;
  text-decoration: none;
}

.header-scroll-tab {
  height: 55px;
  width: 165.5px;
  border-bottom: 2px solid #ffffff;
}

/* SMALLER DESKTOPS */

@media (max-width: 1450px) {
  html {
    font-size: 50%;
  }
  .header-wrapper {
    min-height: 0;
  }
}

/* TABLETS */
@media (max-width: 1000px) and (orientation: portrait) {
  html {
    font-size: 62.5%;
  }
  .header-wrapper {
    justify-content: unset;
    max-height: 1200px;
    margin-bottom: 7.5em;
  }
  .header-block-bg {
    background: #000000 url(../.../img/header/lines-header-mobile2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .header-logo {
    max-width: 150px;
    width: 27.5%;
  }
  .header-burger {
    max-width: 32px;
    width: 10%;
  }

  .header-main-left,
  .header-main-right,
  .header-scroll-tab,
  .header-action {
    display: none;
  }

  .header-main-container {
    flex-grow: 1;
  }

  .header-main {
    align-items: flex-start;
    transform: translateY(-3em);
  }

  .header-main > h1 {
    line-height: 111%;
    text-align: left;
    margin-bottom: 0.65em;
    font-size: 5rem;
  }
  .header-main > h2 {
    font-size: 4rem;
    text-align: left;
    line-height: 145%;
  }
  .header-main > span {
    text-align: left;
    font-size: 2.2rem;
  }
}

/* PHONES */
@media (max-width: 720px) {
  html {
    font-size: 62.5%;
  }
  .header-wrapper {
    justify-content: unset;
    padding-top: 5.6em;
    margin-bottom: 7.5em;
  }
  .header-logo {
    max-width: 110px;
    width: 27.5%;
  }
  .header-burger {
    max-width: 24px;
    width: 10%;
  }

  .header-main-left,
  .header-main-right,
  .header-scroll-tab,
  .header-action {
    display: none;
  }

  .header-main-container {
    flex-grow: 1;
  }

  .header-main {
    align-items: flex-start;
    transform: translateY(-4em);
  }

  .header-main > h1 {
    line-height: 111%;
    text-align: left;
    margin-bottom: 0.65em;
    font-size: 3.6rem;
  }
  .header-main > h2 {
    font-size: 2rem;
    text-align: left;
    line-height: 145%;
  }
  .header-main > span {
    text-align: left;
    font-size: 1.4rem;
  }
}

/* VERY SMALL PHONES */
@media (max-width: 330px) {
  html {
    font-size: 50%;
  }
  .header-wrapper {
    min-height: 568px;
  }
}
