.footer-container {
  background: #000;
  color: #fff;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10rem 0;
}

.footer-left,
.footer-right {
  width: 30%;
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3.8rem;
}

.footer-left > p {
  font-family: "CeraPro400";
  font-size: 2rem;
  line-height: 125%;
}

.footer-right {
  text-align: end;
}

.footer-right > h5 {
  font-family: "Benzin700";
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.footer-contacts {
  display: flex;
  justify-content: flex-end;
  gap: 6rem;
}

.contacts h6,
.contacts > a {
  font-size: 2rem;
  text-decoration: none;
  font-family: "CeraPro400";
  color: #fff;
}

.contacts h6 {
  margin-bottom: 0.75rem;
}

@media (max-width: 1450px) {
  html {
    font-size: 50%;
  }
  .footer-left,
  .footer-right {
    width: 35%;
  }
}

@media (max-width: 1000px) and (orientation: portrait) {
  html {
    font-size: 62.5%;
  }
  footer {
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 5rem;
  }

  .footer-left,
  .footer-right {
    width: 100%;
  }

  .footer-right {
    order: -2;
    margin-bottom: 7rem;
  }

  .footer-left {
    display: flex;
    justify-content: center;
  }

  .footer-logo {
    order: -3;
    width: 27.5%;
    margin-bottom: 8rem;
  }
  .footer-links {
    gap: 3rem;
    margin: 0;
  }

  .footer-links img {
    width: 2.5rem;
  }

  .contacts h6,
  .contacts > a {
    font-size: 2rem;
    font-family: "CeraPro300";
  }

  .footer-left > p {
    display: none;
  }

  .footer-right {
    text-align: center;
  }

  .footer-right > h5 {
    font-size: 2rem;
    line-height: 125%;
    margin-bottom: 2rem;
  }

  .footer-contacts {
    flex-direction: column;
    justify-content: unset;
    gap: 2rem;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 62.5%;
  }
  footer {
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 5rem;
  }

  .footer-left,
  .footer-right {
    width: 100%;
  }

  .footer-right {
    order: -2;
    margin-bottom: 5rem;
  }

  .footer-left {
    display: flex;
    justify-content: center;
  }

  .footer-logo {
    order: -3;
    width: 35%;
    margin-bottom: 6rem;
  }
  .footer-links {
    gap: 2.1rem;
    margin: 0;
  }

  .footer-links img {
    width: 2.1rem;
  }

  .contacts h6,
  .contacts > a {
    font-size: 1.8rem;
    font-family: "CeraPro300";
  }

  .footer-left > p {
    display: none;
  }

  .footer-right {
    text-align: center;
  }

  .footer-right > h5 {
    font-size: 2rem;
    line-height: 125%;
    margin-bottom: 2rem;
  }

  .footer-contacts {
    flex-direction: column;
    justify-content: unset;
    gap: 1rem;
  }
}

@media (max-width: 330px) {
  html {
    font-size: 50%;
  }
}
