@font-face {
  font-family: "Benzin400";
  src: url(./fonts/Benzin-Regular.ttf);
}
@font-face {
  font-family: "Benzin600";
  src: url(./fonts/Benzin-Semibold.ttf);
}
@font-face {
  font-family: "Benzin700";
  src: url(./fonts/Benzin-Bold.ttf);
}
@font-face {
  font-family: "CeraPro300";
  src: url(./fonts/CeraPro-Light.ttf);
}
@font-face {
  font-family: "CeraPro400";
  src: url(./fonts/CeraPro-Regular.ttf);
}
@font-face {
  font-family: "CeraPro700";
  src: url(./fonts/CeraPro-Bold.ttf);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "CeraPro400", sans-serif;
}

.container {
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1720px;
}

.cp {
  cursor: pointer;
}

/* @media (max-width: 1450px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 1000px) and (orientation: portrait) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 330px) {
  html {
    font-size: 50%;
  }
} */
